<section class="chat">
    <div class="prev-messages">

    </div>
    <form method="pos" action="/chat" class="add-message">
        <label for="message">Message:</label>
        <input type="text" name="message" id="message">
        <button type="submit">Submit</button>
    </form>
</section>