<section class="chat">
    <h1><%= title %></h1>
    <div class="prev-messages">
        <% for (let message of messages) { %>
            <div class="prev-message">
                <div class="message-header">
                    <p><%=message.time %></p>
                    <p><%=message.user%></p>
                </div>
                <div class="message-content">
                    <p><%= message.text %></p>
                </div>
            </div>
        <% } %>
    </div>
    <form method="post" action="/chat" class="add-message">
        <label for="message">Message:</label>
        <input type="text" name="message" id="message">
        <button type="submit">Submit</button>
    </form>
</section>