<footer>
    <a href="">View on Github</a>
    <a href="https://www.flaticon.com/de/kostenloses-icon/benutzer_1946429?term=profile&page=1&position=2&origin=tag&related_id=1946429">Icons: Icongeek26</a>
</footer>