<footer>
    <a href="">View on Github</a>
    <a href="https://www.flaticon.com/de/kostenloses-icon/profil_1250689?term=profil&page=1&position=9&origin=tag&related_id=1250689">Icons: Icongeek26</a>
</footer>