<div class="signup-page">
    <h1>Sign Up</h1>
    <form class="signup-form" action="/signup/" method="post">
        <div class="input-section">
            <input type="text" id="firstname" name="firstname" placeholder="">
            <label for="firstname">First Name:</label>
        </div>
        <div class="input-section">
            <input type="text" id="lastname" name="lastname" placeholder="">
            <label for="lastname">Last Name:</label>
        </div>
        <div class="input-section">
            <input type="email" id="username" name="username" placeholder="">
            <label for="username">Email:</label>
        </div>
        <div class="input-section">
            <input type="password" name="password" id="password" placeholder="">
            <label for="password">Password:</label>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <div class="errors">
        <ul class="error-list">
            <% if (errors) { %>
                <% console.log(errors) %>
                <% errors.forEach(err => { %>
                    <li class="error"><%= err.msg %></li>
                <% }); %>
            <% } %>
        </ul>
    </div>
</div>