body {
    font-family: "Roboto", "sans-serif";
    --text: #0b1319;
    --background: #eff5fb;
    --primary: #184f7c;
    --primary80: #184f7caa;
    --primary-120: #143f63;
    --secondary: #6fb9f1;
    --secondary20: hsl(206, 82%, 69%, 20%);
    --accent: #058cfa;
    --grey: #c8c8c8;
    --grey-dark: #717171;

    --nav-height: 60px;

    background: var(--background);
    color: var(--text);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
}

button:hover {
    border: none;
    cursor: pointer;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 20px;
    gap: 20px;
    height: var(--nav-height);

    border-bottom: 1px solid var(--grey);
}

.header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-wrap: nowrap;
}

.website-logo {
    height: 2rem;
    width: auto;
}

.links {
    display: flex;
    justify-content: start;
    align-items: center;
    text-wrap: nowrap;
    gap: 30px;
    font-size: 1rem;
}

.links img {
    width: auto;
    height: 1.5rem;
}

.login-link {
    background-color: var(--accent);
}

.signup-link, .login-link {
    padding: 10px;
    border-radius: 7px;

    transition: background-color 0.3s ease;
}

.signup-link:hover {
    background-color: var(--accent);

    cursor: pointer;
}

.profile-link a, .logout-link button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-link button {
    background-color: transparent;
}
/* Main */

main {
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Chat */

.chat {
    --chat-margin: 20px;
    margin: var(--chat-margin) 0;
    max-height: calc(100vh - var(--nav-height) - 20px - var(--chat-margin));
    width: clamp(300px, 90%, 1500px);
    flex: 1;

    background-color: var(--secondary20);
    padding: 20px;
    border-radius: 15px;

    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.chat h1 {
    text-align: center;
}

.prev-messages {
    padding-right: 10px;
    overflow-y: auto;
    min-height: 0;
}

.prev-message {
    width: min(500px,  80%);
    background-color: var(--primary80);
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px 15px;
}

.prev-message-user {
    font-size: 0.85rem;
}

.prev-message-time {
    font-size: 0.9rem;
    color: var(--primary-120);
}

.user-message {
    background-color: var(--accent);
    margin-left: auto;
}

.message-header {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-message {
    display: flex;
    align-items: center;
    gap: 5px;
}

#message {
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    height: 35px;
    border: none;
}

.add-message button {
    font-weight: bold;
    background-color: var(--accent);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-message-button {
    padding: 5px;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 10px;
}

.delete-message-button:hover {
    background-color: red;
    border: 1px solid red;
}

/* profile */

.profile {
    width: 100%;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    margin-top: 20px;
    background-color: var(--secondary20);
    padding: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: min(500px, 90%);
}

.profile-info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* login, signup */

.login-page, .signup-page {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page > h1, .signup-page > h1 {
    margin-bottom: 20px;
    text-align: center;
}

.login-form, .signup-form {
    background-color: var(--secondary20);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: min(90%, 350px);
}

.input-section {
    position: relative;
    width: 100%;
}

.input-section label {
    font-size: 0.9rem;
    color: var(--grey-dark);

    position: absolute;
    top: calc(50% - 0.4rem);
    left: 0;

    pointer-events: none;
    transition: 0.3s ease all;
}

.input-section input {
    width: 100%;
    padding: 10px 0 8px;
    font-size: 0.9rem;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    border-bottom-color: var(--text);

    transition: border-color 0.3s ease;
}

.input-section input:not(:placeholder-shown) + label {
    top: -0.5rem;
    font-size: 0.8rem;
    color: var(--text);
}

.input-section input:focus + label {
    top: -0.5rem;
    font-size: 0.8rem;
    color: var(--accent);
}

.input-section input:focus {
    border-color: var(--accent);
}

.login-form button, .signup-form button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--accent);
    font-size: 0.9rem;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid var(--grey);
}

.errors {
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary);
    text-align: center;
}

.error-list {
    list-style-type: none;
    padding: 0;
}

.error {
    font-size: 1rem;
    color: red;
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    nav .header {
        font-size: 1.2rem;
    }

    nav .header img {
        height: 1.5rem;
    }

    .links {
        gap: 15px;
    }

    nav {
        padding: 15px;
        gap: 15px;
    }
}

@media (max-width: 410px) {
    nav .header {
        display: none;
    }

    .links {
        width: 100%;
        justify-content: end;
    }
}
