body {
    font-family: "Roboto", "sans-serif";
    --text: #0b1319;
    --background: #eff5fb;
    --primary: #184f7c;
    --primary80: #184f7cbb;
    --secondary: #6fb9f1;
    --secondary20: hsl(206, 82%, 69%, 20%);
    --accent: #058cfa;
    --grey: #c8c8c8;

    --nav-height: 60px;

    background: var(--background);
    color: var(--text);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
}

button:hover {
    border: none;
    cursor: pointer;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 20px;
    gap: 20px;
    height: var(--nav-height);

    border-bottom: 1px solid var(--grey);
}

.header {
    font-size: 1.5rem;
}

.links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    font-size: 1rem;
}

.profile-link a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-link img {
    width: auto;
    height: 1.5rem;
}

/* Main */

main {
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Chat */

.chat {
    --chat-margin: 20px;
    margin: var(--chat-margin) 0;
    max-height: calc(100vh - var(--nav-height) - 20px - var(--chat-margin));
    width: clamp(500px, 90%, 1500px);
    flex: 1;

    background-color: var(--secondary20);
    padding: 20px;
    border-radius: 15px;

    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.chat h1 {
    text-align: center;
}

.prev-messages {
    padding-right: 10px;
    overflow-y: auto;
    min-height: 0;
}

.prev-message {
    width: min(500px,  80%);
    background-color: var(--primary80);
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px 15px;
}

.user-message {
    background-color: var(--accent);
    margin-left: auto;
}

.message-header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}



.add-message {
    display: flex;
    align-items: center;
    gap: 5px;
}

#message {
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    height: 35px;
    border: none;
}

.add-message button {
    font-weight: bold;
    background-color: var(--accent);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px;
    padding: 10px;
}
